__pycache__/
.idea/
*.pyc
.DS_Store
# Jupyter Notebook
.ipynb_checkpoints

# checkpoint and data folders
# checkpoints
lightning_logs
*.out

TF2/2021_Nov
TF2/output

Total.csv
predictions.csv
predictions_case.csv
predictions_case_death.csv
attention.csv
scratch/