__pycache__/
.idea/
*.pyc
.DS_Store
# Jupyter Notebook
.ipynb_checkpoints

# checkpoint and data folders
# checkpoints
lightning_logs
*.out

TF2/2021_Nov
TF2/output

Total.csv
best_predictions_case_death.csv
predictions_case_death.csv
attention.csv
!TFT-pytorch/results/
scratch/