__pycache__/
.idea/
*.pyc
.DS_Store
# Jupyter Notebook
.ipynb_checkpoints

# checkpoint and data folders
checkpoints
lightning_logs
figures
figures_best
*.out

TF2/2021_Nov
TF2/output

2022_May
2022_May_target_cleaned
best_predictions_case_death.csv
predictions_case_death.csv
!TFT-pytorch/results/
