# conda install --file requirements.txt
pip
tensorflow-gpu
ipykernel
ipywidgets
joblib
jupyter_client
tqdm
matplotlib
notebook
numpy
pandas
requests
scikit-learn
seaborn
setuptools
pytorch-lightning
pytorch-forecasting

# should be handled using anaconda or separately
# cudatoolkit
# cudnn